/*
ID 选择器， 如 #id{}

类选择器， 如 .class{}

属性选择器， 如 a[href="segmentfault.com"]{}

伪类选择器， 如 :hover{}

伪元素选择器， 如 ::before{}

标签选择器， 如 span{}

通配选择器， 如 *{}

优先级关系：内联样式 > ID 选择器 > 类选择器 = 属性选择器 = 伪类选择器 > 标签选择器 = 伪元素选择器

*/

#body { /*id*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body { /*class*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body { /*id*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}